@import '../../root.css';

.posts-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.post{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-green-clr);
    color: #FEFEFE;
    width: 40%;
    margin-top: 30px; /* sementara */  
    padding: 1.5rem;
    border-radius: 12px;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.post hr{
    border: .5px solid var(--hr-clr);
    width: 100%;
    border-radius: 5px;
}

.post .user-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post .user-info .user-profile-pic{
    width: 44px;
    border-radius: 2rem;
}

.post .post-description{
    text-align: justify;
}

.post .like-count-container{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.post .like-comment-share{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.post .like-comment-share .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.post .like-comment-share .container p{
    font-weight: 600;
}

.post .like-comment-share .container button{
    border: none;
    background-color: transparent;
    color: #FEFEFE;
    cursor: pointer;
    background-color: var(--secondary-green-clr2);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.post .post-img{
    border-radius: 12px;
    max-width: 640px;
}

.comments .comment-container{
    background-color: var(--primary-green-clr);
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.comments .comment-container .user-name{
    font-weight: bold;
}