@import '../../root.css';

.user-post-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-post{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #609966;
    width: 40%;
    margin-top: 30px; /* sementara */  
    padding: 1rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

.user-post-container .user-post .post-comment{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-post-container .user-post .post-comment input{
    width: 100%;
    height: 36px;
    padding: 0 1.5rem 0 1.5rem;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-clr);
}

.user-post-container .user-post .post-comment input:focus{
    outline: none;
}

.user-post-container .post-comment img{
    width: 44px;
}

.user-post-container .user-post hr{
    border: .5px solid var(--hr-clr);
    width: 100%;
    border-radius: 5px;
}

.user-post-container .user-post .post-img-video{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}

.post-img-video button, .post-img-video label{
    border: none;
    height: 40px;
    border-radius: 12px;
    padding: .5em 1em .5em 1em;
    background-color: var(--secondary-green-clr2);
    color: #FEFEFE;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    position: relative;
    font-size: 1rem;
}

@media screen and (max-width: 844px){
    .user-post{
        width: 90%;
    }
}

@media screen and (max-width: 448px){
    .post-img-video label p{
        display: none;
    }
    .user-post-container .user-post .post-img-video{
        gap: 1rem;
    }
}