@import '../../root.css';

nav{
    width: 100%;
    background: var(--primary-green-clr);
    color: #FEFEFE;
    padding: 4px 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo{
    width: 180px;
    margin-right: 24px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

nav ul li hr{
    border: none;
    height: 3px;
    border-radius: 10px;
    background-color: var(--primary-dark-clr);
}

.nav-container{
    padding: 12px 5% 16px 8%;
}

.btn{
    background-color: var(--secondary-green-clr);
    color: var(--primary-clr);
    padding: 14px 25px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-weight: bold;
}

.login-reg{
    display: flex;
    align-items: center;
    gap: 0;
}