@import '../../root.css';

header nav{
    width: 100%;
    height: 90px;
    background: var(--primary-green-clr);
    color: #000000;
    padding: 4px 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav .home:hover {
    color: #4CAB60;
}

nav .venues:hover {
    color: #4CAB60;
}
  
nav .community:hover {
    color: #4CAB60; 
}
  
nav .groups:hover {
    color: #4CAB60; 
}

.logo{
    width: 180px;
    margin-right: 14px;
    margin-top: 15px;
}

nav ul{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

nav ul{
    display: inline-flex;   
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

nav ul li{
    display: inline-block;
    list-style: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

nav ul li hr{
    border: none;
    height: 3px;
    border-radius: 10px;
    background-color: var(--primary-dark-clr);
}

.nav-container{
    padding: 12px 5% 16px 8%;
}

nav .login-btn{
    background-color: var(--secondary-green-clr);
    color: var(--primary-clr);
    padding: 14px 25px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-weight: bold;
}

nav .profile-img{
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 50%;
}

nav .nav-extra{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav .active{
    color: var(--secondary-green-clr);
    /* padding: .325rem .825rem; */
    border-radius: 12px;
}

.nav-dropdown{
    /* background-color: var(--primary-dark-clr); */
    border: none;
    padding: .5rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    display: none;
}

@media only screen and (max-width: 1280px) {
    nav{
        padding: 12px 50px;
    }

    nav ul{
        gap: 30px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 744px) {
    nav{
        padding: 10px 0;
    }
    nav ul{
        padding: 10px 0;
    }
    .nav-dropdown{
        display: block;
        transition: .5s;
    }
    nav ul{
        display: none;
        height: 300px;
        width: 100%;
        position: absolute;
        justify-content: center;
        top: 70px;
        left: 0;
        background-color: #ffffff;
        z-index: 99;
    }

    .nav-menu-visible{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 2rem;
    }

    .nav-dropdown.open{
        transform: rotate(90deg);
    }
}