@import '../../root.css';

.venue-detail .venue-detail-container{
    background-color:#ffffff;
    padding-bottom: 4rem;
    height: max-content;
    color: #000000;
}

.venue-detail .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 3rem 0;
}

.venue-detail .venue-detail-container .venue-map{
  margin-top: 4.5rem;
    width: 100%;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0 0 0 0;
}

.venue-detail .venue-detail-container .sport-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 1000px;
    right: 0;
    margin: auto;
    top: 270px;
    border: 6px solid var(--secondary-green-clr);
    background-color: #FEFEFE;
}

.venue-detail .venue-type, .venue-detail .venue-member-count{
    display: flex;
    align-items: center;
    gap: .625rem;
}

.venue-detail .venue-detail-container .venue-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.venue-info .venue-details .member-container{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
}

.venue-info .venue-details .venue-name{
    font-size: 4rem;
    font-weight: bold;
}

.venue-info .venue-btn{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.venue-info .venue-btn button{
    border: none;
    padding: 1em 2em;
    font-size: 1rem;
    background-color: var(--primary-dark-clr);
    color: #FEFEFE;
    border-radius: 24px;
    cursor: pointer;
    font-weight: bold;
}

.container .venue-detail-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .venue-detail-info hr{
    color: var(--hr-clr);
}

.venue-detail .App {
    font-family: sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  
.venue-detail .images-container {
    display: flex;
    max-width: 500px;
    overflow: scroll;
    scroll-behavior: smooth;
    transition: scroll 0.3s ease-in-out;
  }
  
.venue-detail  .image {
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 8px;
  }
  
.venue-detail .nav-btn {
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: #c3c3c3;
    border-radius: 6px;
    height: 200px;
    width: 30px;
    margin: 5px;
  }

  .open-time-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.open-time-table th, .open-time-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.open-time-table th {
  background-color: #609966;
  font-weight: bold;
}

.book-now-button {
    background-color: #4CAB60;
    border-radius: 1rem;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.book-now-button:hover {
    transform: scale(1.05);
}

.modal {
    position: relative;
    background: white;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 8px;
    z-index: 1050;
    overflow-y: auto;
    max-height: 80vh;
  }
  
  .modal-overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1040;
  }
  
  .close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
  }
  
  .close-modal-button:hover {
    color: #000;
  }
  
  .modal-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }
  
  .calendar-container {
    display: inline-block;
  }
  
  .availability-info {
    margin-left: 20px;
    max-width: 200px;
  }
  
  .selected-date {
    margin-bottom: 10px;
  }
  

  
  .closed {
    color: red;
    font-weight: bold;
  }
  
  .available {
    display: flex;
    flex-direction: column;
  }

  .open{
    color: #4CAB60;
    font-weight: bold;
    padding: 0 10px 10px 0;
  }

  .time-blocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .time-block {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
  }
  
  .time-block:hover {
    background-color: #e0e0e0;
  }
  
  .time-block.selected {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .modal-book-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease;
  }

  .modal-book-button:hover{
    transform: scale(1.05);
  }