.search-bar{
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 16px;
    width: 40%;
    height: 34px;
    padding: 0 32px 0 24px;
    margin-top: 7rem;
    background-image: url(../../assets/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.search-bar:focus{
    outline: none;
}

.search-bar-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
}