:root{
    --primary-clr: #fefefe;
    --primary-green-clr: #ffffff;
    --secondary-green-clr: #4CAB60 ;
    --primary-dark-clr: #ffffff;
    --secondary-green-clr2: #f4f4f4;
    --hr-clr: #000000;
}